# These are the owners of the vivid-design-patterns repo.
# If you feel like you should be added to this list, please make a PR adding your github username to the list below.

# excluded from codeowners
!package.json

# UX and Web team
* @ed-wentworth-vivid @jeffborders @ylin6 @sgibson47 @ivangallegoLLC @jeissonflorez @jhfonseca72 @dpac90 @klam27 @mgorman87 @vividseats-build
