{
  "extends": [
    "@vividseats/eslint-config-vividseats"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "overrides": [
    {
      "files": "test/**/*.js",
      "rules": {
        "react/jsx-filename-extension": 0,
        "jsx-a11y/anchor-is-valid": 0
      }
    }
  ]
}