@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

[class^='vdp-backdrop'] {
    @include position(fixed, 0 null null 0);
    background-color: rgba($color-black, 0.75);
    height: 100%;
    pointer-events: none;
    width: 100%;
    z-index: $z-index-backdrop;
    pointer-events: all;

    [class^='vdp-modal'] & {
        z-index: -1;
    }
}
