@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

// Mixins
@mixin button-base() {
    @include transition(all $transition-2);
    border-radius: $border-radius-sm;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family-default;
    font-weight: $font-weight-med;
    outline: none !important;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
@mixin button-size($fontSize: $font-size-md, $lineHeight: $button-height-default, $padding: $button-padding-default) {
    font-size: $fontSize;
    height: $lineHeight;
    line-height: $lineHeight;
    padding: 0 $padding;
}

// Block
[class^='vdp-button']:not([class*='__']) {
    @include button-base;
    @include button-size;
    background-color: $color-brand-primary;
    border: none;
    color: $color-white;

    &:hover {
        background-color: $color-magenta-600;
    }

    &[class*='--disabled'] {
        background-color: $color-neutral-200;
        box-shadow: none !important;
        color: $text-color-muted;
        cursor: not-allowed;
    }
    &[class*='--secondary'] {
        @include border($color: $color-neutral-300);
        background-color: $color-white;
        color: $text-color-default;

        &:hover {
            background-color: $color-neutral-100;
        }
    }
    &[class*='--tertiary'] {
        background-color: transparent;
        color: $text-color-default;

        &:hover {
            background-color: $color-magenta-100;
            color: $text-color-link;
        }
    }
    &[class*='--inverted'] {
        @include border($color: $color-white);
        background-color: $color-white;
        color: $text-color-default;
    }
    &[class*='--inverted--outlined'] {
        @include border($color: $color-white);
        background-color: transparent;
        color: $color-white;

        &:hover {
            background-color: $color-magenta-100;
            color: $text-color-link;
        }
    }
    &[class*='--text'] {
        @include button-size($fontSize: $font-size-sm, $lineHeight: $button-height-small, $padding: $sizing-sm);
        background: none;
        color: $text-color-link;
        text-transform: uppercase;

        &:hover {
            background-color: $color-magenta-100;
            color: $text-color-link;
        }
        &[class*='--muted'] {
            color: $text-color-muted;
        }
    }
    &[class*='--small'] {
        @include button-size($fontSize: $font-size-sm, $lineHeight: $button-height-small, $padding: $button-padding-small);
    }
    &[class*='--large'] {
        @include button-size($lineHeight: $button-height-large, $padding: $button-padding-large);
    }
    &[class*='--raised'] {
        box-shadow: $elevation-1;
    }
    &[class*='--block'] {
        width: 100%;
    }
    &[class*='--with-icon'] {
        padding-left: 0;
    }
    &[class*='--facebook'] {
        background-color: $color-third-party-facebook;

        &:hover {
            background-color: darken($color-third-party-facebook, 5%);
        }
    }
}

// Button Group
[class^='vdp-grouped-button'] {
    @include border($color: $color-neutral-300);
    @include button-base;
    @include button-size;
    background: $color-white;
    border-left: none;
    border-radius: 0;
    color: $text-color-default;
    margin: 0 0;

    &:first-child {
        border-left: 1px solid $color-neutral-300;
        border-radius: $border-radius-sm 0 0 $border-radius-sm;
    }
    &:last-child {
        border-radius: 0 $border-radius-sm $border-radius-sm 0;
    }
    &[class*='--selected'] {
        background-color: $color-teal-400;
        border: 1px solid transparent;
        color: $color-white;
        cursor: default;
    }
    &[class*='--small'] {
        @include button-size($font-size-sm, $button-height-small, $button-padding-small);
    }
    &[class*='--large'] {
        @include button-size($font-size-lg, $button-height-large, $button-padding-large);
    }
    &:hover {
        box-shadow: none;
    }
    &:not([class*='--selected']):hover {
        background: $color-neutral-100;
    }
}

// Button Elements
.vdp-button__icon {
    margin-right: $sizing-xs;
    margin-left: -$sizing-sm;

    [class^='vdp-button'][class*='--small'] & {
        font-size: $font-size-xl;
        margin-right: 0;
    }
}
