@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.vdp-carousel {
    overflow-x: hidden;
    width: 100%;

    .vdp-carousel__container {
        @include flex();
        width: 100%;
        .vdp-carousel__slide {
            flex: 1 0 100%;
            min-height: 0;
            overflow-y: scroll;
            height: 0;
            width: 100%;
            visibility: hidden;
            &.--visible {
                visibility: visible;
                height: auto;
            }
        }
    }
}
