@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.vdp-chip,
a:link.vdp-chip,
a:visited.vdp-chip {
    @include transition(all $transition-1);
    @include typography($color: $color-white, $fontSize: $font-size-sm, $fontWeight: $font-weight-bld, $lineHeight: $sizing-lg);
    background-color: $color-teal-400;
    border-radius: $border-radius-xl;
    box-shadow: inset 0 0 1px 0 rgba($color-neutral-800, 0.75);
    cursor: pointer;
    display: inline-block;
    height: $sizing-xl;
    margin: $sizing-xs;
    padding: $sizing-xs $sizing-xl $sizing-xs $sizing-md;
    position: relative;

    &:after {
        @include pseudo-icon('\e913', $color: $color-white, $lineHeight: 1rem, $size: $font-size-sm, $height: $sizing-lg);
        @include position(absolute, 0 $sizing-xs 0 null);
        background-color: $color-teal-600;
        border-radius: $border-radius-xl;
        text-align: center;
        width: $sizing-lg;
    }
    &:hover {
        background-color: $color-teal-600;

        &:after {
            background-color: $color-teal-800;
        }
    }
}
