@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';
@import '_helperText';

[class^='vdp-control']:not([class*='__']) {
    border-radius: $border-radius-sm;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    margin-left: -$sizing-xs;
    vertical-align: middle;

    &:hover {
        background: $color-neutral-100;
    }
    &[class*='--block'] {
        display: block;
    }
}
.vdp-control__span:before {
    @include pseudo-icon($pointerEvents: auto);
    @include position(absolute, $sizing-sm null null $sizing-xs);

    [class*='--checkbox'] & {
        content: '\e906';
    }
    [class*='--checkbox'] .vdp-control__input:checked + & {
        content: '\e907';
    }
    [class*='--radio'] & {
        content: '\e93f';
    }
    [class*='--radio'] .vdp-control__input:checked + & {
        content: '\e940';
    }
    .vdp-control__input:checked + & {
        color: $text-color-link;
    }
    [class^='vdp-control'][data-state='error'] & {
        color: $text-color-error;
    }
}
.vdp-control__span {
    @include typography($fontSize: $font-size-md, $lineHeight: $line-height-lg);
    display: inline-block;
    padding: $sizing-sm $sizing-sm $sizing-sm $sizing-2xl;
    position: relative;
    vertical-align: middle;

    .vdp-control__input + & {
        cursor: pointer;
    }
    .vdp-control__input:disabled + & {
        color: $text-color-disabled;
        cursor: not-allowed;
        text-decoration: line-through;
    }
}
