@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.vdp-fab {
    @include flex;
    @include align-items(center);
    @include justify-content(stretch);
    height: $sizing-3xl;
    text-align: center;

    .vdp-fab__child {
        @include typography($fontSize: $font-size-md, $fontWeight: $font-weight-med);
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        i {
            color: $text-color-link;
            margin-right: $sizing-2xs;
        }
        &--divider {
            flex: none;
            margin: 0;
            width: 1px;
            height: $sizing-3xl;
            background-color: $color-neutral-300;
        }
    }
}

@include size-min-tablet {
    .vdp-fab {
        justify-content: flex-end;
    }
    .vdp-fab__child {
        border-radius: $border-radius-sm;
        padding: $sizing-xs $sizing-sm;
        line-height: $sizing-3xl !important;

        &:hover {
            background-color: $color-neutral-100;
        }
    }
}

// only appears on mobile
@include size-only-mobile {
    .vdp-fab {
        @include position(fixed, null null #{-$sizing-5xl} 50%);
        @include transition(all $transition-2);
        background-color: $color-neutral-800;
        box-shadow: $elevation-3;
        border-radius: $border-radius-xl;
        max-width: calc(100% - #{$sizing-5xl});
        z-index: $z-index-fab;
        transform: translateX(-50%);

        .vdp-fab__child {
            padding: $sizing-md;
            white-space: nowrap;
            color: $color-white !important;

            &:first-child {
                padding-left: $sizing-lg;
            }
            &:last-child,
            &:only-child {
                padding-right: $sizing-lg;
            }
            i {
                color: $color-white;
            }
        }
        &[data-state='visible'] {
            bottom: $sizing-2xl;
        }
    }
}
