@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.vdp-filter-group-container {
    @include flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
}
.vdp-filter-group {
    @include flex(1 0 100%);
    padding: $sizing-lg 0 $sizing-sm 0;

    ul {
        list-style: none;
        margin: $sizing-xs 0 0 0;
        padding: 0;
    }
    .vdp-filter-group__item {
        @include typography($fontSize: $font-size-md);
        border-radius: $border-radius-sm;
        cursor: pointer;
        padding: $sizing-xs $sizing-sm;
        position: relative;
        margin: 0 0 0 #{-$sizing-sm};

        &:hover {
            background-color: $color-magenta-100;
            color: $text-color-link;
        }
    }
    button {
        margin-top: $sizing-xs;
        margin-left: #{-$sizing-sm};
    }
}
@include size-min-tablet {
    .vdp-modal__body {
        .vdp-filter-group {
            @include flex-basis(auto);
            padding: $sizing-lg;

            &:first-of-type {
                padding-left: 0;
            }
            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}

.react-slidedown {
    height: 0;
    transition-property: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.react-slidedown.transitioning {
    overflow-y: hidden;
}

.react-slidedown.closed {
    display: none;
}
