@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

@mixin active-helper-text() {
    height: auto;
    opacity: 1;
    padding-top: $sizing-sm;
    visibility: visible;
}

[class^='vdp-helper-text'] {
    @include transition(all $transition-1);
    @include typography($color: $text-color-muted, $fontSize: $font-size-sm, $lineHeight: $line-height-xs);
    display: block;
    height: 0;
    opacity: 0;
    padding-left: $sizing-xs;
    padding-right: $sizing-xs;
    visibility: hidden;

    [class*='--outlined'] & {
        padding-left: $sizing-md;
        padding-right: $sizing-md;
    }
    &[class*='--validation'] {
        [data-state*='error'] & {
            @include active-helper-text;
            color: $text-color-error;
        }
        [data-state*='success'] & {
            @include active-helper-text;
            color: $text-color-success;
        }
    }
}
