@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';
@import 'helperText';

input::-ms-clear,
select::-ms-expand {
    display: none;
}
[id^='__lpform'] {
    display: none !important;
}

// Mixins
@mixin input-base() {
    @include appearance(none);
    @include transition(all $transition-1);
    @include typography($fontSize: $font-size-md, $fontWeight: $font-weight-med);
    background-color: inherit;
    border-color: $color-neutral-300;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    box-shadow: none;
    height: $sizing-4xl;
    outline: none;
    padding: 0 $sizing-xs;
    width: 100%;
}
@mixin outlined-input-base() {
    border-radius: $border-radius-sm;
    border-width: 1px;
    padding: 0 $sizing-md;
}
@mixin active-label() {
    @include typography($fontSize: $font-size-sm, $fontWeight: $font-weight-med, $lineHeight: $sizing-lg !important);
    background-color: inherit;
    top: -$sizing-sm !important;

    &:after,
    &:before {
        background-color: inherit;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    &:after {
        height: calc(50% - 1px);
        top: calc(#{$sizing-sm} + 1px);
    }
    &:before {
        height: 50%;
        top: 0;
    }
}

// Blocks
[class^='vdp-select']:not([class*='__']),
[class^='vdp-textfield']:not([class*='__']) {
    background-color: $color-white;
    margin: $sizing-xl 0 $sizing-md;
    position: relative;
    width: 100%;

    &[class*='--outlined'] {
        border-radius: $border-radius-sm;
    }
    &[data-validate] {
        &[data-state*='error']:after {
            @include position(absolute, 0 $sizing-sm 0 null);
            @include pseudo-icon('\e945', $text-color-error, $margin: $sizing-md auto 0);
        }
        &[data-state*='success']:after {
            @include position(absolute, 0 $sizing-sm 0 null);
            @include pseudo-icon('\e944', $text-color-success, $margin: $sizing-md auto 0);
        }
    }
    [class^='vdp-textfield__input'] {
        background-image: none !important;
    }
}
[class^='vdp-select']:not([class*='__']) {
    &:after {
        @include position(absolute, 0 $sizing-sm 0 null);
        @include pseudo-icon('\e908');
    }
    &[data-state*='error']:after {
        color: $text-color-error;
    }
}

// Elements
.vdp-floating-label {
    @include position(absolute, $sizing-md null null $sizing-xs);
    @include transition(all $transition-1);
    @include typography($color: $text-color-muted, $fontSize: $font-size-md, $lineHeight: $sizing-2xl);
    background-color: transparent;
    pointer-events: none;
    z-index: 1;

    [class*='--outlined'] & {
        left: $sizing-sm;
        padding: 0 $sizing-xs;
    }
    [data-state*='error'] & {
        color: $text-color-error !important;
    }
    [data-state*='success'] & {
        color: $text-color-success !important;
    }
    [data-state*='filled'] & {
        @include active-label;
    }
}

[class^='vdp-select__control'] {
    @include input-base;
    cursor: pointer;

    &:required:invalid {
        color: $color-neutral-800;

        [data-state*='error'] & {
            color: $text-color-error !important;
        }
    }

    [class*='--outlined'] & {
        @include outlined-input-base;
    }
    &[class*='--medium'] {
        height: $sizing-3xl;

        + .vdp-floating-label {
            top: $sizing-xs;
        }
    }
    &[class*='--small'] {
        font-size: $font-size-sm;
        height: $sizing-2xl;

        + .vdp-floating-label {
            top: $sizing-xs;
            line-height: $sizing-xl;
        }
    }
}

[class^='vdp-textfield__input'] {
    @include input-base;

    [class*='--outlined'] & {
        @include outlined-input-base;
    }
}
textarea[class^='vdp-textfield__input'] {
    height: auto;
    min-height: calc(#{$sizing-4xl} * 2);
    padding: $sizing-md !important;
    resize: vertical;
}
[class^='vdp-textfield__trailing-icon'] {
    @include position(absolute, 0 $sizing-sm 0 null);
    color: $color-neutral-800;
    cursor: pointer;
    height: $sizing-4xl;
    line-height: $sizing-4xl;
    margin: initial;

    span {
        @include typography($color: $text-color-muted, $fontSize: $font-size-sm, $fontWeight: $font-weight-med);
    }

    [data-state*='success'] &,
    [data-state*='error'] & {
        right: $sizing-3xl;
    }
}

// Feedback States
[class^='vdp-select__control'],
[class^='vdp-textfield__input'] {
    &:disabled {
        border-color: $color-neutral-300;
        border-style: dashed;
        color: $text-color-disabled;
        cursor: not-allowed;
    }
    [data-state*='error'] & {
        border-color: $color-state-error !important;
        color: $color-state-error !important;
    }
    [data-state*='success'] & {
        border-color: $color-state-success !important;
        color: $color-state-success !important;
    }
    &:focus {
        border-color: $color-brand-primary;
        color: $text-color-default;

        + .vdp-floating-label {
            @include active-label;
            color: $color-brand-primary;
        }
        ~ .vdp-helper-text:not([class*='--validation']) {
            @include active-helper-text;
        }
    }
    &:-webkit-autofill {
        + .vdp-floating-label {
            @include active-label;

            &:after {
                background-color: rgb(250, 255, 189) !important;
            }
        }
    }
}

// Outlined Input Modifiers
[class*='--outlined'] {
    [class^='vdp-select__control']:disabled {
        box-shadow: 0 0 0 1000px $color-neutral-200 inset;
        color: $color-neutral-400;

        + .vdp-floating-label:after {
            background-color: $color-neutral-200 !important;
        }
    }
}

// dark background form elements
.vdp-form--inverted {
    [class^='vdp-textfield']:not([class*='__']) {
        background-color: inherit;
    }
    [class^='vdp-select']:not([class*='__']) {
        background-color: inherit;

        &:after {
            color: $color-neutral-300;
        }
    }

    [class^='vdp-select__control'],
    [class^='vdp-textfield__input'] {
        border-color: $color-neutral-300;
        color: $color-white;

        &:disabled {
            border-color: rgba($color-white, 0.35);
            color: $text-color-disabled;
        }
        &:-webkit-autofill {
            background-color: inherit !important;
            color: inherit !important;
        }
    }
    .vdp-floating-label {
        color: white;
    }

    [class*='--outlined'] {
        [class^='vdp-select__control']:disabled {
            box-shadow: 0 0 0 1000px rgba($color-neutral-800, 0.3) inset;
            color: rgba($color-white, 0.5);

            + .vdp-floating-label {
                color: rgba($color-white, 0.5);
                &:after {
                    background-color: rgba($color-neutral-800, 0.3) !important;
                }
            }
        }
    }
}
.vdp-textfield--nested-button [type='submit'] {
    @include position(absolute, $sizing-md $sizing-sm null null);
}
