@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

[class^='vdp-link-group']:not([class*='__']) {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
[class^='vdp-link-group'][class*='--striped'] {
    margin-left: -$sizing-sm;
    margin-right: -$sizing-sm;

    .vdp-link-group__item:nth-child(odd) {
        background-color: $color-neutral-100;
    }
    .vdp-link-group__item a {
        color: $text-color-default;
        padding: $sizing-md $sizing-sm;
    }
    .vdp-link-group__item:hover {
        background-color: $color-magenta-100;

        a {
            color: $text-color-link;
            text-decoration: none;
        }
    }
}
[class^='vdp-link-group'][class*='--partitioned'] {
    margin-left: 0;
    margin-right: 0;

    @include size-only-mobile {
        &[data-partition='first'] {
            margin-top: $sizing-md;
        }
        &[data-partition='last'] {
            margin-bottom: $sizing-lg;
        }
    }
    @include size-min-tablet {
        margin-top: $sizing-md;
        margin-bottom: $sizing-lg;
    }
}

[class^='vdp-link-group__item'] {
    @include transition(all $transition-1);
    font-size: $font-size-md;
    border-radius: $border-radius-sm;

    &[class*='--featured'] a {
        font-weight: $font-weight-bld;
    }
    a {
        display: block;
        padding: $sizing-sm 0;
    }
}
.vdp-link-group--hover {
    [class^='vdp-link-group__item']:hover {
        background-color: $color-magenta-100;

        * {
            color: $text-color-link;
        }
    }
    [class^='vdp-link-group__item'] * {
        padding: #{$sizing-xs + $sizing-2xs} $sizing-sm;
    }
}
[class^='vdp-link-group'][class*='--muted'] {
    [class^='vdp-link-group__item'] {
        font-size: $font-size-sm;
        color: $text-color-muted;

        @include size-min-tablet {
            a {
                padding: $sizing-xs 0;
            }
        }
    }
}
.vdp-link-group__divider {
    @include border(top);
    margin: $sizing-md -#{$sizing-sm} $sizing-sm;
}
