@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.vdp-promo-banner {
    .vdp-row {
        @include center-align;
        padding: $sizing-MD;
        .vdp-type-subhead {
            margin-right: $sizing-SM;
            &:last-of-type {
                margin-right: 0;
            }
        }
        .carat {
            &::after {
                @include pseudo-icon('\e908', $color-off-white);
            }
            &--rotated::after {
                @include pseudo-icon('\e908', $color-off-white);
                transform: rotate(180deg);
            }
        }
    }
    .vdp-col {
        @include center-align;
        .vdp-type-small,
        .vdp-type-tiny {
            margin-top: $sizing-MD;
        }
    }
}
