@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.vdp-search-field {
    @include border;
    @include flex;
    @include justify-content(center);
    background-color: $color-white;
    border-radius: $border-radius-XL;
    cursor: text;
    font-size: $font-size-MD;
    font-weight: $font-weight-reg;
    margin: 0 $sizing-LG;
    padding: 0 $sizing-LG;
    min-width: 320px;

    @include size-min-tablet {
        background-color: $color-gray-highlight;
    }
    [class*='vdp-search-field__icon'] {
        color: $color-gray-medium;
        line-height: 36px !important;
        z-index: 2;
    }
    .vdp-search-field__icon-search {
        pointer-events: none;
    }
    .vdp-search-field__icon-close {
        cursor: pointer;
        display: none;
        font-size: $font-size-XL;
        right: $sizing-SM;
    }
    .vdp-search-field__input {
        background: none;
        border: none;
        box-shadow: none;
        color: $text-color-muted;
        display: block;
        font-size: $font-size-MD;
        height: 36px;
        outline: none;

        position: relative;
        width: 100%;
        z-index: 1;

        &:active,
        &:focus {
            border: none;
            box-shadow: none;
            color: $text-color-default;
        }
    }
}
.vdp-search-field[data-state='active'] {
    @include justify-content(flex-start);

    .twitter-typeahead {
        width: 100% !important;
    }
}

// Twitter Typeahead Results
.twitter-typeahead {
    width: 262px; // based off of placeholder

    .tt-hint {
        display: none;
    }
    .tt-dropdown-menu {
        background: $color-white;
        box-shadow: $elevation-2;
        width: 100% !important;
        z-index: $z-index-nav !important;
    }
    .search-results__header {
        background-color: $color-gray-light;
        line-height: $sizing-XL;
        padding: 0 $sizing-SM;
    }
}
@include size-only-mobile {
    .tt-dropdown-menu {
        width: 100vw !important;
        position: fixed !important;
        top: 48px !important;
        right: 0 !important;
        bottom: 0;
        overflow: auto;
    }
}
