@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

[class^='vdp-tab-bar'] {
    @include flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    &:not([class*='--inverted']) {
        background-color: $color-white;
    }
    &[class*='--inverted'] .vdp-tab {
        color: $color-neutral-100;

        &:hover,
        &[data-state='active'] {
            color: $color-white;
        }
    }
    @include size-min-tablet {
        &[class*='--centered'] {
            @include justify-content(center);
        }
        &[class*='--compressed'] .vdp-tab {
            line-height: $sizing-4xl;
        }
    }
}
.vdp-tab,
.vdp-tab:link,
.vdp-tab:visited {
    @include align-self(flex-end);
    @include flex(0 0 auto);
    @include transition(all $transition-1);
    @include typography($color: $text-color-muted, $fontSize: $font-size-sm, $fontWeight: $font-weight-med, $lineHeight: $sizing-4xl);
    cursor: pointer;
    overflow: hidden;
    padding: 0 $sizing-md;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    @include size-min-tablet {
        line-height: $sizing-4xl;
    }
    i {
        line-height: inherit !important;
        top: 3px;
    }
    &:after {
        @include position(absolute, null null 0 0);
        @include transition(all $transition-1);
        @include transform(scale(0));
        content: '';
        background: $color-brand-primary;
        height: $sizing-xs;
        opacity: 0;
        transform-style: preserve-3d;
        width: 100%;
        z-index: 1;
    }
    &:hover,
    &[data-state='active'] {
        color: $text-color-default;

        &:after {
            @include transform(scale(1));
        }
    }
    &:hover:after {
        opacity: 0.8;
    }
    &[data-state='active']:after {
        opacity: 1;
    }
}

@include size-only-mobile {
    // Scroll
    [class^='vdp-tab-bar'][class*='--scroll'] {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    // Stretched
    [class^='vdp-tab-bar'][class*='--stretched'] .vdp-tab {
        @include flex-grow(1);
        @include justify-content(center);
    }
}
