@import '../src/styles/tokens';
@import '../src/styles/mixins/mixins';
@import '../src/styles/mixins/prefixes';

@import '../src/styles/colors';
@import '../src/styles/grid';
@import '../src/styles/layout';
@import '../src/styles/typography';

@import '../src/styles/backdrop';
@import '../src/styles/badge';
@import '../src/styles/banner';
@import '../src/styles/button';
@import '../src/styles/cards';
@import '../src/styles/carousel';
@import '../src/styles/chips';
@import '../src/styles/collapse';
@import '../src/styles/controls';
@import '../src/styles/drawer';
@import '../src/styles/eventRow';
@import '../src/styles/expandableContent';
@import '../src/styles/fab';
@import '../src/styles/filterGroups';
@import '../src/styles/helperText';
@import '../src/styles/heros';
@import '../src/styles/inputs';
@import '../src/styles/link';
@import '../src/styles/linkGroups';
@import '../src/styles/menu';
@import '../src/styles/modals';
@import '../src/styles/search';
@import '../src/styles/skeleton';
@import '../src/styles/tabs';
@import '../src/styles/toggle';
@import '../src/styles/notification';

/*=====================================================

  1. Foundation

=====================================================*/

// Color
.swatch {
    height: 5rem;
}

// Icons
.icon-docs {
    margin-top: $sizing-2XL;
    margin-bottom: $sizing-2XL;
    text-align: center;

    i:hover {
        color: $color-brand-blue;
        cursor: pointer;
    }
    p {
        margin-top: $sizing-MD;
    }
}

/*=====================================================

  2. Components

=====================================================*/

// Badge
[class^='vdp-badge'] {
    margin: 0 5px;
}

// Button
[class^='vdp-button'] {
    margin: 0 5px;
}

// Fab - overrides for playground wrapper
[class^='vdp-fab']:not([class*='__']) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// Form
form {
    .vdp-button {
        margin: 10px;
    }
}

// Links
[class^='vdp-type-link'] {
    margin: 0 5px;
}

// Link Group
[class^='vdp-link-group'] {
    margin: 0 5px;
}

// Modal - overrides for playground wrapper
.react-live-preview {
    [class^='vdp-backdrop'] {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .vdp-modal,
    .vdp-modal--sheet,
    .vdp-modal--full-screen {
        position: relative !important;
        top: unset !important;
        left: unset !important;
    }
}

// Tabs
.vdp-tab-group.--inverted {
    background: black;
}

// Toggle
.toggle-title {
    margin: 0 1em 0 0;
    float: left;
}

// Typography
.type-column {
    float: left;
    margin-right: 10px;
    width: 13%;
    height: 100%;

    .inverted {
        background-color: #333;
        border-radius: $border-radius-XS;
    }
}

.vdp-site-header {
    background-color: $color-white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    position: relative;

    .site-header__disclaimer {
        background-color: $color-brand-slate;
        color: $color-gray;
        font-size: $font-size-MD;
        line-height: $line-height-XS;
        text-align: center;
        padding: $sizing-SM;

        i {
            font-size: 16px;
        }
    }
    .vdp-site-header__container {
        @include align-items(center);
        @include flex;
        min-height: 48px;
        position: relative;
    }
    .site-header__trigger {
        position: absolute;

        i {
            color: $color-gray-medium;
        }
    }
    .site-header__nav {
        @include transform(rotate(0deg));
        @include transition(left $transition-2);
        background: $color-white;
        margin-left: auto;
        z-index: $z-index-nav;

        [class^='vdp-link-group'] {
            width: 100%;
        }
    }
}
@include size-only-mobile {
    body.scroll-lock .site-header__disclaimer {
        position: absolute;
        z-index: 0;
    }
    .vdp-site-header {
        .site-header__brand {
            margin: auto;
        }
        .site-header__nav {
            @include position(fixed, 0 null 0 #{-$drawer-width-mobile});
            display: none;
            overflow: hidden;
            width: $drawer-width-mobile;

            &[data-state='visible'] {
                display: block;
                left: 0;
            }
            .vdp-tab {
                padding: 0 $sizing-LG;

                &:after {
                    display: none;
                }
            }
            [class^='vdp-link-group']:not([class*='__']) {
                padding: 0 $sizing-SM;
            }
        }
        .site-header__search .vdp-search-field {
            @include position(absolute, 0 0 null null);
            border: none;
            border-radius: 0;
            margin: 0;
            min-width: 0;

            .twitter-typeahead,
            .vdp-search-field__input {
                width: 0;
            }
            &[data-state='active'] {
                min-width: 100vw;
                z-index: $z-index-nav;

                .twitter-typeahead,
                .vdp-search-field__input {
                    width: 100%;
                }
            }
        }
    }
}
@include size-min-tablet {
    .vdp-site-header {
        z-index: $z-index-nav;

        .vdp-search-field {
            background-color: $color-gray-highlight;
        }
        .site-header__nav {
            > .vdp-tab {
                line-height: 60px;
            }
            [class^='vdp-link-group']:not([class*='__']) {
                flex: 1 0 33%;
            }
        }
    }
}

